/* common */
body {
  overflow:none;
}
header {
  position: fixed;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 10;
}

header div.logo_area {
  float: left;
  padding: 8px 0;
  margin-left: 50px;
}

header div.logo_area span#logo {
  background: url('../images/mpole_main_logo.png') no-repeat;
  display: inline-block;
  width: 202px;
  height: 60px;
}

header nav {
  display: inline-block;
  height: 80px;
  width: calc(100% - 252px);
}

header nav ul.gnb {
  list-style: none;
  margin: 0;
  height: 80px;
}

header nav ul.gnb li {
  float: left;
  text-align: center;
  font-weight: bold;
  width: 18%;
  min-width: 125px;
  margin: 0 1%;
  position: relative;
  height: 80px;
  line-height: 80px;
  cursor: pointer;
}

.shadow {
  position: fixed;
  position: sticky;
  width: 100%;
  top: 80px;
  height: 8px;
  background-image: linear-gradient(to bottom, #ccc, rgba(0, 0, 0, 0));
  z-index: 8;
}

.shadow-cover {
  position: absolute;
  width: 100%;
  height: 8px;
  background: #fff;
  top: 80px;
  z-index: 9;
}

section {
  position: relative;
  width: 100%;
  height: 2000px;
  background-color: #fff;
  z-index: 0;
}

/* scrollbar css */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  /*background-color: #F5F5F5;*/
  display: none
}

::-webkit-scrollbar {
  width: 6px;
  /*background-color: #F5F5F5;*/
  background: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  background-color: #999;
}

span.contents {
  width: 100%;
  height: 50px;
  display: inline-block;
}

footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:100px;
  background-color:#fff;
}
