/* Mobile CSS */
header {
  height: 40px;
}

header div.home_header_inner {
  height: 40px;
}

header nav {
  height: 40px;
}

header nav div.nav_wrap.pc {
  display:none;
}

header nav div.nav_wrap.mobile {
  display:none;
  left:0;
  top:-1000px;
}

header nav div.nav_wrap.mobile.on {
  position:absolute;
  left: 0px;
  top: 41px;
  right: 0px;
  display: inline-block;
  height: auto;
  background-color:#fff;
  /*
  transition: all ease .5s 0s;
  -moz-transition: all ease .5s 0s;
  -webkit-transition: all ease .5s 0s;
  */
}

header nav div.nav_wrap.mobile ul.gnb {
  list-style: none;
  margin: 0;
  height: 40px;
  padding: 0px;
}

header nav div.nav_wrap.mobile ul.gnb>li {
  text-align: left;
  text-indent: 20px;
  width: 100%;
  min-width: unset;
  margin: 0;
  height: auto;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
}

header nav div.nav_wrap.mobile ul.gnb>li.toggle::after {
  content: '';
  position: absolute;
  right: 12px;
  width: 10px;
  height: 6px;
  background: transparent url(../images/arrow.png) no-repeat 0 0;
  background-size: 10px;
  top: 20px;
  margin-top: -2px;
  transition: all 0.2s;
}

header nav div.nav_wrap.mobile ul.gnb>li.on {
  background-color: #eee;
}

header nav div.nav_wrap.mobile ul.gnb>li.toggle.on::after{
  transform: rotate(180deg);
}

header nav div.nav_wrap.mobile ul.nav_sub {
  display:none;
  padding:0;
  border-top: 1px solid #ccc;
}

header nav div.nav_wrap.mobile ul.nav_sub>li {
  background-color:#fff;
  text-indent: 0;
  margin: 0;
  line-height: 30px;
}

header nav div.nav_wrap.mobile ul.nav_sub>li span {
  padding: 0;
  height: 30px;
  line-height: 30px;
  text-indent: 30px;
  border-bottom:1px solid #ddd;
}

header nav div.nav_wrap.mobile ul.nav_sub>li span:last-child {
  border-bottom:none;
}

header div.logo_area {
  margin-left: 20px;
}

.shadow {
  top:40px;
  height:4px;
  background-image: linear-gradient(to bottom, #efefef, rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(to bottom, #efefef, rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(to bottom, #efefef, rgba(0, 0, 0, 0));
  z-index: 8;
}

header div.logo_area span#logo {
  height: 30px;
}

header div.mobile_menu_btn {
  display: inline-block;
}
