/* common */
body {
  overflow:none;
}
header {
  position: fixed;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 10;
}

header div.logo_area {
  float: left;
  padding: 8px 0;
  margin-left: 50px;
}

header div.logo_area span#logo {
  background: url('../images/mpole_main_logo.png') no-repeat;
  background-size: 50%;
  background-position:left;
  display: inline-block;
  width: 202px;
  height: 60px;
}

header nav {
  display: inline-block;
  height: 80px;
  width: calc(100% - 252px);
  transition:all ease .5s 0s;
  -moz-transition:all ease .5s 0s;
  -webkit-transition:all ease .5s 0s;
}

header nav.on {
  left:0px;
  transition:all ease .5s 0s;
  -moz-transition:all ease .5s 0s;
  -webkit-transition:all ease .5s 0s;
}

header nav div.mobile_nav_top {
  display: none;
}

header nav ul.gnb {
  list-style: none;
  margin: 0;
  height: 80px;
}

header nav ul.gnb li {
  float: left;
  text-align: center;
  font-weight: bold;
  width: 18%;
  min-width: 125px;
  margin: 0 1%;
  position: relative;
  height: 80px;
  line-height: 80px;
  cursor: pointer;
}

header ul.nav_sub {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-top: 1px solid #ccc;
  list-style: none;
  margin: 0;
  padding : 10px 0px 10px 40px;
}

header ul.nav_sub li {
  float: left;
  width: 100%;
  list-style: none;
  text-align: center;
  width: 18%;
  min-width: 125px;
  margin : 0 1%;
  position: relative;
  cursor: pointer;
}

header ul.nav_sub li span {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  padding: 5px 0px;
}

header div.mobile_menu_btn {
  display: none;
  float: right;
  width: 40px;
  height: 40px;
  background: url('../images/menu_bar.png') no-repeat;
  background-position: center;
  background-size: 30px 30px;
}

.shadow {
  position: fixed;
  position: sticky;
  width: 100%;
  top: 80px;
  height: 8px;
  background-image: linear-gradient(to bottom, #ccc, rgba(0, 0, 0, 0));
  z-index: 8;
}

.shadow-cover {
  position: absolute;
  width: 100%;
  height: 8px;
  background: #fff;
  top: 80px;
  z-index: 9;
}

section {
  position: relative;
  width: 100%;
  height: 2000px;
  background-color: #fff;
  z-index: 0;
}

/* scrollbar css */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  /*background-color: #F5F5F5;*/
  display: none
}

::-webkit-scrollbar {
  width: 6px;
  /*background-color: #F5F5F5;*/
  background: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  background-color: #999;
}

span.contents {
  width: 100%;
  height: 50px;
  display: inline-block;
}

footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:100px;
  background-color:#fff;
}

/* 메인메뉴 Contents */
header nav ul.gnb li:nth-child(1)::before {
  content : 'Vertical Market';
}
header nav ul.gnb li:nth-child(2)::before {
  content : 'Solution';
}
header nav ul.gnb li:nth-child(3)::before {
  content : 'Product';
}
header nav ul.gnb li:nth-child(4)::before {
  content : 'Company';
}
header nav ul.gnb li:nth-child(5)::before {
  content : 'Board';
}

/* 서브메뉴 Contents */
/* 첫번째 메인메뉴 Contents 명*/
header ul.nav_sub li:nth-child(1) span:nth-child(1)::before {
  content : 'Building / Office';
}
header ul.nav_sub li:nth-child(1) span:nth-child(2)::before {
  content : 'Factory / Plant';
}
header ul.nav_sub li:nth-child(1) span:nth-child(3)::before {
  content : 'Apartment';
}
header ul.nav_sub li:nth-child(1) span:nth-child(4)::before {
  content : 'Retail / Mall';
}
header ul.nav_sub li:nth-child(1) span:nth-child(5)::before {
  content : 'Hospital';
}

/* 두번째 메인메뉴 Contents 명*/
header ul.nav_sub li:nth-child(2) span:nth-child(1)::before {
  content : '통합 관제 플랫폼';
}
header ul.nav_sub li:nth-child(2) span:nth-child(2)::before {
  content : '외곽 방호 솔루션';
}
header ul.nav_sub li:nth-child(2) span:nth-child(3)::before {
  content : '방문자 예약 관리 솔루션';
}
header ul.nav_sub li:nth-child(2) span:nth-child(4)::before {
  content : '위치 기반 솔루션';
}
header ul.nav_sub li:nth-child(2) span:nth-child(5)::before {
  content : '3D Vision 솔루션';
}
header ul.nav_sub li:nth-child(2) span:nth-child(6)::before {
  content : '저장 영상 암호화 솔루션';
}
header ul.nav_sub li:nth-child(2) span:nth-child(7)::before {
  content : '반출 영상 마스킹 솔루션';
}

/* 세번째 메인메뉴 Contents 명*/
header ul.nav_sub li:nth-child(3) span:nth-child(1)::before {
  content : 'MPR Series';
}

/* 네번째 메인메뉴 Contents 명*/
header ul.nav_sub li:nth-child(4) span:nth-child(1)::before {
  content : '';
}

/* 다섯번째 메인메뉴 Contents 명*/
header ul.nav_sub li:nth-child(5) span:nth-child(1)::before {
  content : 'Notice';
}
header ul.nav_sub li:nth-child(5) span:nth-child(2)::before {
  content : '자료실';
}

/* 해상도를 기준으로 device별 CSS 적용 */
/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
##Device = 데스크탑
##Screen = 1281px 이상 해상도 데스크탑
*/

@media only screen and (min-width: 1281px) {



}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
##Device = 랩탑, 데스크탑
##Screen = 1025px에서 1280px 사이
*/

@media only screen and (min-width: 1025px) and (max-width: 1280px) {



}

/*
##Device = Tablets, Ipads (portrait),
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(세로),
##Screen = 768px에서 1024px 사이
*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    height: 40px;
  }
  header nav {
    position: absolute;
    display: inline-block;
    left: -201px;
    top: 0;
    width: 200px;
    height: 500px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  header nav div.mobile_nav_top {
    display: inline-block;
    width: 200px;
    height: 40px;
    border-bottom: 1px solid #ddd;
  }
  header div.logo_area {
    margin-left: 20px;
  }
  .shadow {
    top:40px;
  }
  header div.logo_area span#logo {
    height: 30px;
  }
  header div.mobile_menu_btn {
    display: inline-block;
  }
}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(가로)
##Screen = 768px에서 1024px 사이
*/

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {



}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/

@media only screen and (min-width: 481px) and (max-width: 767px) {



}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/

@media only screen and (min-width: 320px) and (max-width: 480px) {
  section {
    background-color:green;
  }
}
