<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script type="text/javascript">
      //Module define
      var myApp = angular.module('myApp', []);

      //controller
      myApp.controller('MainCtrl', ['$scope', function ($scope) {
        $scope.text = 'Hello, Angular fanatic.!';
      }]);
      myApp.controller("UserCtrl", ['$scope', 'customService', function ($scope, customService) {
        $scope.user = {};
        $scope.user.details = [
          {
            "username" : "sam"
            ,"id" : "292929"
            ,"result" : customService.fnc1(12,24)
          }
          ,{
            "username" : "jimmy"
            ,"id" : "696969"
            ,"result" : customService.fnc2(12,24)
          }
        ]
      }]);
      myApp.controller("AjaxCtrl", ['$scope', 'Server', function($scope, Server) {
        var jsonGet = 'http://192.168.0.117/Cats';
        var jsonPost = 'http://192.168.0.117/Cats';
        //Server.get(jsonGet);
        /*
        $http({
          contentType : 'application/json'
          ,async : true
          ,datatype : 'json'
          ,cache : false
        });
        */

        // Server.contentType = 'application/json';
        // Server.async = true;
        // Server.datatype = 'json';
        // Server.cache = false;

        //$scope = Server.post(jsonPost);
      }]);
      myApp.controller("RepeatCtrl", ['$scope', "Server", function($scope, Server){
        $scope.numbers = Server.test();
        $scope.inputnum = 20;
        $scope.greaterThanNum = function(item) {
          return item > $scope.inputnum;
        }
      }]);
      myApp.controller("TestCtrl", ['$scope', '$http', function($scope, $http){
        $scope.urlprefix = "http://127.0.0.1:3000/showcase/images/icons/new/";

        var url = 'http://192.168.0.117/Cats';
        var req = {
          // method : 'POST',
          headers: {
           'Content-Type': 'application/json'
          },
          async: true,
          datatype: 'json',
          cache: false,
          data: {}
        }
        $http.post(url,req).then(
          function successCallback(res) {
            $scope.data = res.data;
          },function errorCallback(res) {
            $scope.data = [];
          }
        );

        /*
        $http({
          method : 'POST'
          ,contentType : 'application/json'
          ,async : true
          ,datatype : 'json'
          ,cache : false
          ,url : 'http://192.168.0.117/Cats'
        })
        .then(
          function successCallback(response) {
            $scope.data = response.data;
          }, function errorCallback(response) {
            $scope.data = [];
          }
        );
        */
        $scope.setCategory = function(item,idx,obj) {
          return $scope.data[idx].category_id;
          //return "http://127.0.0.1:3000/showcase/images/icons/new/"+ $scope.data[idx].category_id +".jpg";

          //return $scope.data[idx].category_id;
        }

        /*
        .success(function(data, status, headers, config){
          debugger;
        })
        .error(function(data, status, headers, config){
          debugger;
        });
        */
      }]);

      //directive
      myApp.directive('customButton', function(customService){
        return {
          restrict : "AEC"
          , replace: true
          , transclude: true
          //, template: '<a ng-transclude><i class="icon-ok-sign">123</i></a>'
          , templateUrl : './customButton.html'
          , link : function(scope, elem, attrs) {
            elem.on("click", function(){
              alert(customService.fnc1(12,24));
            });
          }
        }
      });

      //Sevice
      myApp.service('customService', function(){
        this.fnc1 = function(x, y) {
          return (x + y);
        }
        this.fnc2 = function(x, y) {
          return (x * y);
        }
      });

      //factory
      myApp.factory('Server', ['$http', function($http) {
        return {
          get : function(url, config) {
            return $http.get(url, config);
          }
          ,post : function(url, config) {
            return $http.post(url, config);
          }
          ,test : function() {
            return [10, 25, 35, 45, 60, 80, 100];
          }
        };
      }]);


      //filter
      myApp.filter('reverse', function() {
        return function(input, uppercase) {
          var out = '';
          for (var i = 0; i < input.length; i++) {
            out = input.charAt(i) + out;
          }
          return out;
        }
      });
    </script>
  </head>
  <body>
    <div ng-app="myApp">
      <div ng-controller="MainCtrl">
        {{ text }}
        <br/>
        {{ text | reverse }}
      </div>
      <div ng-controller="UserCtrl">
        {{ user.details[0].username + " : " + user.details[0].id + " " + user.details[0].result }}
        {{ user.details[1].username + " : " + user.details[1].id + " " + user.details[1].result }}
      </div>
      <div ng-controller="AjaxCtrl">
        {{ returnval }}
      </div>

      <div ng-controller="TestCtrl">
        <ul>
          <li ng-repeat="category in data | filter:setCategory" style="list-style:none;">
            <!--img src="http://127.0.0.1:3000/showcase/images/icons/new/{{category.category_id}}.jpg" /-->
            <img ng-src="{{ urlprefix + category.category_id + '.jpg' }}">
          </li>
        </ul>
      </div>

      <div ng-controller="RepeatCtrl">
        <input type="text" ng-model="inputnum">
        <ul>
          <li ng-repeat="repeat in numbers | filter:greaterThanNum">
            {{ repeat }}
          </li>
        </ul>
      </div>
      <a class="custom-button">Click ME!</a>
    </div>
  </body>
</html>
